*
{
    margin: 0;
    padding: 0;
}
.board-container
{
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 10px;
    background-color: burlywood;
}
.items
{
    display: grid;
    grid-template-rows: auto;
}
@media (min-width: 375px) {
    .cont-container {
        padding: 0 15% 0 15%;
    }
}